<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- com.green.menus.mapper.MenuMapper : interface 위치 -->
<mapper namespace="com.green.menus.mapper.MenuMapper">
	
	<!-- 메뉴목록 -->
	<select id="getMenuList"
	        resultType="com.green.menus.dto.MenuDTO">
			
	SELECT     MENU_ID, MENU_NAME, MENU_SEQ
	 FROM      MENUS
	 ORDER BY  MENU_SEQ ASC
	 	
	</select>
	
	 <!-- 메뉴 한개 조회 -->
	<select id="getMenu">
		SELECT * FROM MENUS WHERE menu_id = #{menu_id}		
	</select>
  
	<insert id="insertMenu">
		INSERT INTO MENUS VALUES (#{menu_id},#{menu_name},#{menu_seq})
	</insert>
	
	<delete id="deleteMenu">
	 	DELETE FROM MENUS WHERE menu_id = #{menu_id}
	</delete>
	
	<update id="updateMenu">
		UPDATE MENUS SET menu_name = #{menu_name}, menu_seq = #{menu_seq} WHERE menu_id = #{menu_id}
	</update>
	  
</mapper>
